*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: flex;
    align-items: center;
    padding: 50px;
}
p {
    padding-right: 50px;
}
.ghost_img {
    border-radius: 10%;
    height: 300px;
}
.text-content h2 {
    color: orange;
    font-style: italic;
    font-size: 28px;
    padding-bottom: 10px;
}

.text-content p {
    /* color: #555; */
    line-height: 1.6;
}
.btn {
    background-color: orange;
    color: aliceblue;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    position: absolute;
    top: 55%;
}
.btn:hover{
    background-color: orangered;
}

/* about-us section */
.why-choose-us {
    padding: 50px;
    text-align: center;
}

.containers {
    display: flex;
    align-items: center;
    gap: 30px;
}
.center-image img {
    width: 100%;
    border-radius: 50%;
}
.feature {
    padding: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.icon {
    font-size: 20px;
    background-color: #bbbaba;
    border: 2px solid green;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto 10px;
}
/* specialties section */
.specialists h2{
    font-size: 28px;
}
.specialties-container{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.special img{
    width: 100%;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
.special img:hover{
    transform: scale(1.05);
}
.specialists {
    padding: 20px;
}
.overlay p {
color: orange;
font-size: 14px;
}
.special {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.overlay {
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    color: aliceblue;
    width: 100%;
    padding: 15px;
}

@media (max-width:1000px) {
    .container{
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }
    .text-content p{
        padding-right: 0;
    }
    .ghost_img {
        width: 80%;
        height: auto;
        border-radius: 20px;
        margin-top: 20px;
    }
    .btn {
        position: relative;
        display: inline-block;
        margin-top: 20px;
    }
    .why-choose-us {
        padding: 30px;
    }
    .containers {
        flex-direction: column;
    }
    .center-image img {
        max-width: 250px;
    }
    .specialties-container{
        flex-wrap: wrap;
    }
}

@media (min-width:500px){
    .special {
        width: 45%;
    }
    .specialties-container{
        justify-content: center;
    }
}

@media (min-width:1000px){
    .btn {
        margin-top: 30px;
    }
}


/* contact.html */

.contact-info {
    display: flex;
    height: 300px;
    align-items: center;
    /* background-color: aqua; */
    position: relative;
    justify-content: space-around;
}

.contact-info::before {
    content: "";
    background: linear-gradient(to right, red 30%, black 70%);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.info-box{
    background-color: rgba(225,204,204, 0.874);
    width: 20%;
    padding: 20px;
    border-radius: 10px;
}

.info-box h3{
    margin-bottom: 10px;
}
.info-box p {
    margin-bottom: 10px;   
}
.info-box a {
    color: yellow;
    font-weight: bold;
}

/* form section */
.quote-form {
    max-width: 700px;
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    padding: 30px;
    border-radius: 10px;
}
.quote-form h2 {
    text-align: center;
}
.quote-form p {
    font-size: 14px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    gap: 10px;
}

.form-group input{
    width: 50%;
}

input, textarea {
    border: none;
    border-bottom: 2px solid green;
    padding: 10px;
    outline: none;
}

.btn-send {
    background-color: orange;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.btn-send:hover {
    background-color: orangered;
}

@media screen and (max-width:1022px){
    .contact-info {
        flex-direction: column;
        height: auto;
        padding: 20px 0;
    }
    .info-box {
        width: 80%;
        margin-bottom: 15px;
    }
}

@media screen  and (max-width:600px){
    .form-group {
        flex-direction: column;
    }
    .form-group input {
        width: 100%;
    }
    .quote-form p {
        padding: 0;
    }
}